
body {
    font-family: "Helvetica Neue";
    font-size: 2.5vh;
}



.nav-link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}

.nav-link:hover {
    color: white;
}

/* CUSTOM CLASSES */
/*                */

.greyishColor{
    background-color: #1d1d1f;
}

.fs-xl {
    font-size: 6vh;
}

.biggerPadding {
    padding-left: 1vw;
    padding-right: 1vw;
}

/* Height */

.h-80 {
    height: 80%;
}

.h-50vh {
    height: 50vh;
}
/* ------ */


/* Margin */

.mt-15 {
    margin-top: 15%;
}
/* ------ */


/* Top */

.top-15 {
    top: 15%;
}

.top-23 {
    top: 23%;
}

.top-30 {
    top: 30%;
}

.top-35 {
    top: 35%;
}

.top-38 {
    top: 38%;
}

.top-85 {
    top: 85%;
}
/* ------ */

/* Width */
.min-width-150 {
    min-width: 150px;
}
/* ------ */